{% extends "shablon.html" %}
{% block body %}
    <li><a href="{{ url_for('show_subjects')}}">Вернуться назад</a> </li>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/admin/show_subjects/update/{{subject[0]}}" method="POST">
          <div class="form-group">
            <input type="text" name="name" value="{{subject[1]}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}