<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>

    <style>
        body{
            background-image: url("https://wallpapers.com/images/hd/school-supplies-clipart-18t41wj87x85eo9c.jpg");
        }
    </style>

    <div class="container pt-4">
      {% block body %}
      {% endblock %}
    </div>

<script>
const btnDelete= document.querySelectorAll('.btn-delete');
if(btnDelete) {
  const btnArray = Array.from(btnDelete);
  btnArray.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      if(!confirm('Вы уверены, что хотите удалить?')){
        e.preventDefault();
      }
    });
  })
}

$(document).ready(function() {
    $('#example').DataTable({
      "aLengthMenu": [[10, -1], [10, "All"]],
        "iDisplayLength": 3
       }
    );
} );

</script>
  </body>
</html>